@model IEnumerable<Intranet.Models.CartelleCliniche>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCartellaClinica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.href)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuogoDiNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDiNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoCivile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDelConiuge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessioneAttuale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvitatoDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altezza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDiNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManoDominante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDiAllattamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllergieDescrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Convulsioni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vertigini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insonnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NevrosismoDepressione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VomitoNeurologico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamiliariPatologieFisiche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamiliariPatologiePsicologiche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamiliariPatologiePsichiatriche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatologieFisicheGravi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatologiePsicologiche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatologiePsichiatriche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TendenzaAllaViolenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LivelloConformita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCartellaClinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.href)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuogoDiNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDiNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoCivile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDelConiuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessioneAttuale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residenza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvitatoDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altezza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDiNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManoDominante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDiAllattamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllergieDescrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Convulsioni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vertigini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insonnia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NevrosismoDepressione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VomitoNeurologico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamiliariPatologieFisiche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamiliariPatologiePsicologiche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamiliariPatologiePsichiatriche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatologieFisicheGravi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatologiePsicologiche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatologiePsichiatriche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TendenzaAllaViolenza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LivelloConformita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCartellaClinica }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCartellaClinica }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCartellaClinica })
        </td>
    </tr>
}

</table>
