@model List<Intranet.Models.CartelleCliniche>
@{
    ViewBag.Title = "Cartelle Cliniche";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cartelle Cliniche</h2>
        @*<ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>UI Elements</a>
                </li>
                <li class="active">
                    <strong>Tabs</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-tools">
        <a href="@Url.Action("Create", "CartelleCliniche")" class="btn btn-primary btn-sm pull-right"><i class=""></i> Aggiungi</a>
    </div>
    <br />
    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tabs-left">

                    <ul class="nav nav-tabs">
                        @foreach (var item in Model)
                        {
                            <li class="">
                                <a data-toggle="tab" href="#@item.href">
                                    @item.NomeCompleto
                                    @if (item.NomeCompleto == "Paziente Tre")
                                    {
                                        <span class="label label-danger">!</span>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content ">
                        @foreach (var item in Model)
                        {
                            <div id="@item.href" class="tab-pane">
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", "CartelleCliniche", new { id = item.IDCartellaClinica })" class="btn btn-warning btn-sm"><i class=""></i> Modifica </a>
                                        <a href="@Url.Action("Delete", "CartelleCliniche", new { id = item.IDCartellaClinica })" class="btn btn-danger btn-sm"><i class=""></i> Cancella </a>
                                    </div>
                                    <div class="col-md-9" style="background-color:red">
                                        <p><strong>@item.NomeCompleto</strong></p>
                                        <p>N°: @item.NumeroCartellaClinica</p>
                                        <div class="">Luogo di Nascita: @item.LuogoDiNascita </div>
                                        <div class="">Data di Nascita: @item.DataDiNascita  </div>
                                        <div class="">Età: @item.Eta  </div>
                                        <div class="">Sesso: @item.Sesso  </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

</div>
