@model List<Intranet.Models.Personale>
@{
    ViewBag.Title = "Personale";
    Layout = "../Shared/_LayoutReserved.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Personale</h2>
        @*<ol class="breadcrumb">
                <li>
                    <a href="index.html"></a>
                </li>
                <li>
                    <a></a>
                </li>
                <li class="active">
                    <strong></strong>
                </li>
            </ol>*@
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-tools">
        <a href="@Url.Action("Create", "Personale" )" class="btn btn-primary btn-sm pull-right"><i class=""></i> Aggiungi</a>
    </div>
    <br />
    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tabs-left">
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model)
                        {
                            <li class="">
                                <a data-toggle="tab" href="#@item.href">
                                    @item.NomeCompleto
                                    @if (item.NomeCompleto == "Paziente Tre")
                                    {
                                        <span class="label label-danger">!</span>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content ">
                        @foreach (var item in Model)
                        {
                            <div id="@item.href" class="tab-pane">
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", "Personale" , new { id=item.IDPersonale })" class="btn btn-warning btn-sm"><i class=""></i> Modifica </a>
                                        <a href="@Url.Action("Delete", "Personale" , new { id=item.IDPersonale })" class="btn btn-danger btn-sm"><i class=""></i> Cancella </a>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12 "><h1>Cartella Clinica</h1></div>
                                        <div class="col-md-12"><p><strong>@item.NomeCompleto</strong></p></div>
                                        <div class="col-md-12"><p><b>N°:</b>    @item.NumeroMatricola </p></div>
                                        <div class="col-md-5"><b>Luogo di Nascita:</b>    @item.LuogoDiNascita </div>
                                        <div class="col-md-3"><b>Data di Nascita:</b>    @item.DataDiNascita </div>
                                        <div class="col-md-2"><b>Età:</b>    @item.Eta </div>
                                        <div class="col-md-2"><b>Sesso:</b>    @item.Sesso </div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-6"><b>Codice Fiscale:  </b> @item.CodiceFiscale </div>
                                        <div class="col-md-6"><b>Cittadinanza:  </b> @item.Cittadinanza</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-4"><b>Stato civile:  </b> @item.StatoCivile </div>
                                        <div class="col-md-8"><b>Nome del coniuge:  </b> @item.NomeDelConiuge</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-3"><b>Figli/altri parenti prossimi:  </b> / </div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-12"><b>Professione Attuale:  </b> @item.ProfessioneAttuale</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-12"><b>Residenza:  </b> @item.Residenza</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-12"><b>Telefono:  </b> @item.Telefono</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-3"><b>Peso:  </b> @item.Peso</div>
                                        <div class="col-md-9"><b>Altezza:  </b> @item.Altezza</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-12"><b>Data della Prima Visita:  </b> 13/05/2017</div>
                                        <div class="col-md-12">
                                            <p></p>
                                            <p></p>
                                        </div>
                                        <div class="col-md-12 ">
                                            <h1>Carichi pendenti:</h1>
                                        </div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        <div class="col-md-12"><b>Stato:  </b> @item.CarichiPendentiEsito</div>
                                        <div class="col-md-12">
                                            <p></p>
                                        </div>
                                        @if (item.CarichiPendentiEsito == "Positivo")
                                        {
                                            <div class="col-md-12"><b>Reati a carico:  </b> @item.CarichiPendentiDescrizione</div>

                                            <div class="col-md-12">
                                                <p></p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
