<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px" src="~/Images/FotoKoller.jpeg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-center" style="font-size:medium">Federico Koller</strong>
                            </span> <span class="text-muted text-xs block">Direttore</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    FK
                </div>
            </li>

            <li class="@Html.IsSelected(controller: "Personale")">
                <a href="@Url.Action("Index", "Personale")"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.layouts">Personale</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Farmaci")">
                <a href="@Url.Action("RealIndex", "Farmaci")"><i class="fa fa-medkit"></i> <span class="nav-label" data-i18n="nav.layouts">Farmaci</span></a>
            </li>
 
            <li class="@Html.IsSelected(controller: "ProceduraEmergenza")">
                <a href="#"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label" data-i18n="nav.mailbox">Procedura di Emergenza</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "ProceduraEmergenza", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Proc_1")"><a href="@Url.Action("Proc_1", "ProceduraEmergenza")">Proc_1</a></li>
                    <li class="@Html.IsSelected(action: "Proc_2")"><a href="@Url.Action("Proc_2", "ProceduraEmergenza")">Proc_2</a></li>
                    <li class="@Html.IsSelected(action: "Proc_3")"><a href="@Url.Action("Proc_3", "ProceduraEmergenza")">Proc_3</a></li>
                    <li class="@Html.IsSelected(action: "Proc_4")"><a href="@Url.Action("Proc_4", "ProceduraEmergenza")">Proc_4</a></li>
                    <li class="@Html.IsSelected(action: "Proc_5")"><a href="@Url.Action("Proc_5", "ProceduraEmergenza")">Proc_5</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Centralina")">
                <a href="@Url.Action("Index", "Centralina")"><i class="fa fa-database"></i> <span class="nav-label" data-i18n="nav.layouts">Centralina Satellitare</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Progetto")">
                <a href="@Url.Action("Finalita", "Progetto")"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.layouts">Finalità del Progetto</span></a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "AreaRiservata")"><i class="fa fa-sign-out"></i> <span class="nav-label" data-i18n="nav.layouts">Logout</span></a>
            </li>
        </ul>
    </div>
</nav>